html{height:100%}
@font-face{font-family:'GothamRounded-Light';src:url(font/GothamRounded-Light.eot);src:local("GothamRounded-Light"),url(font/GothamRounded-Light.ttf) format("truetype"),url(font/GothamRounded-Light.otf) format("opentype"),url(font/GothamRounded-Light.woff) format("woff")}
@font-face{font-family:'GothamRounded-Book';src:url(font/GothamRounded-Book.eot);src:local("GothamRounded-Book"),url(font/GothamRounded-Book.ttf) format("truetype"),url(font/GothamRounded-Book.otf) format("opentype"),url(font/GothamRounded-Book.woff) format("woff")}
@font-face{font-family:'fontello';src:url("font/fontellodf29.eot?72545342");src:url("font/fontellodf29.eot?72545342#iefix") format("embedded-opentype"),url("font/fontellodf29.woff?72545342") format("woff"),url("font/fontellodf29.ttf?72545342") format("truetype"),url("font/fontellodf29.svg?72545342#fontello") format("svg");font-weight:normal;font-style:normal}
[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-menu:before{content:'\e800'}
.icon-cancel:before{content:'\e801'}
.icon-down-open:before{content:'\e802'}
.icon-facebook:before{content:'\e803'}
.icon-twitter:before{content:'\e804'}
.icon-linkedin:before{content:'\e805'}
.icon-up-open:before{content:'\e806'}
.icon-arrow-combo:before{content:'\e807'}
.icon-youtube:before{content:'\e808'}
.icon-github:before{content:'\e809'}

body{height:100%;font-family: Arial, Helvetica, sans-serif;}
.top-3 .info:after,.top-contacto:after,.top-precios:after,header .container:after,header .container nav ul:after,section .boxes:after,section .medio .barra:after,section .dev-bottom:after,section .precios .container ul:after,section .container:after,section .container .historia:after,section .container .equipo .perfiles:after,section .ubicacion .container:after,section .beneficios ul.nav-two:after,section .beneficios .two .container:after,footer .container:after{content:"";display:table;clear:both}
ul{margin:0;padding:0}
ul li{list-style-type:none}
a{text-decoration:none;color:#fff}
p{line-height:180%}
h1,h2,h3,h4{font-weight:500;}
.page-title{padding:200px 0}
.page-title h1{font-size:4em;margin:0; background:#1E5666}
.page-title h4{font-family:"GothamRounded-Book",sans-serif;  background:#000}
.page-title2{padding:180px 0;}
.page-title2 h1{font-size:4em;margin:0; background:#1C4475;}
.page-title2 h4{font-family:"GothamRounded-Book",sans-serif;  background:#000}
.container{max-width:1140px;width:100%;margin:0 auto}
.container1{max-width:1140px;width:100%;margin:0 auto}
.top{background-image:url(../images/fondo1.jpg);background-position:bottom center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:600px;color:#fff}
.top1{background-image:url(../images/fondo-contacto.jpg);background-position:bottom center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:1000px;color:#fff}
.top2{background-image:url(../images/fondo1.jpg);background-position:bottom center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:900px;color:#fff;max-height:2000px}
.g-recaptcha{padding:2px;display: flex;justify-content: center;align-items: center;}

label{display: block;padding:2px;margin:2px;cursor:pointer;}
textarea{resize:none;}

.top-desarrolladores{background:url(../images/trama.png),-webkit-radial-gradient(bottom, circle, #44D5B3, #3FBFE2, #6275AE);background:url(../images/trama.png),-moz-radial-gradient(bottom, circle, #44D5B3, #3FBFE2, #6275AE);background:url(../images/trama.png),-ms-radial-gradient(bottom, circle, #44D5B3, #3FBFE2, #6275AE);background:url(../images/trama.png),-o-radial-gradient(bottom, circle, #44D5B3, #3FBFE2, #6275AE);background:url(../images/trama.png),radial-gradient(bottom, circle, #44D5B3, #3FBFE2, #6275AE);height:600px;color:#fff}
.top-legal{background-image:url(../images/opacity.png),url(../images/empresa.jpg);background-position:top center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:700px;position:relative}
.top-legal .title{color:#fff;padding:10em 0}
.top-legal .title h1{text-transform:uppercase;font-size:3.5em}
.top-legal .title h3{font-weight:normal}
.top-legal .tabs{position:absolute;width:100%;bottom:0;border-top:1px solid #c9c9c9}
.top-legal .tabs ul li{display:inline-block;padding:1em 10em;text-transform:uppercase}
.top-beneficios{background-image:url(../images/bg-beneficios-2.jpg);background-position:bottom center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:600px;color:#fff}
.top-beneficios header .container nav ul li:last-child{background:#0AA6A9;border:none}
.top-beneficios header .container nav ul li:last-child:hover{background:#0FBDD3;-webkit-transition:background linear .2s;transition:background linear .2s}
.top-beneficios .title{padding:12em 0}
.top-beneficios .title h1{font-size:3.5em;text-transform:uppercase}
.top-beneficios .title h2{font-size:1.3em}

.top-precios{background-image:url(../images/bg-precios-2.jpg);background-repeat:no-repeat;background-position:top center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:600px;color:#fff}
.top-precios header .container nav ul li:last-child{background:#0AA6A9}
.top-precios header .container nav ul li:last-child a{color:#fff}
.top-precios header .container nav ul li:last-child:hover{background:#05C4DD;-webkit-transition:background linear .2s;transition:background linear .2s}
.top-precios .title{padding:11em 0}
.top-precios .title .container h1{color:#fff;font-size:4em;font-family:"GothamRounded-Book",sans-serif;margin:0;text-shadow:2px 2px 8px #3E3E3E}
.top-precios .title .container h1 span{font-size:.5em}
.top-precios .title .container p{font-size:1.5em;text-shadow:2px 2px 8px #3E3E3E}
.top-precios .title .container ul{padding:1.5em 0}
.top-precios .title .container ul li{background:#0AA6A9;display:inline-block;padding:15px 20px;font-family:"GothamRounded-Book",sans-serif;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.top-precios .title .container ul li:hover{background:#05C4DD;-webkit-transition:background linear .2s;transition:background linear .2s;cursor:pointer}
header{background:url(../images/pattern.png),#1E5666;position:fixed;width:100%;-webkit-box-shadow:0px 1px 15px #000;-moz-box-shadow:0px 1px 15px #000;box-shadow:0px 1px 15px #000;z-index:999}
header .container .logo{width:15%;min-width:150px;float:left;text-align:left;position:relative}
header .container .logo img{padding:10px 0;float:left}
header .container .logo span.subtitle{display:block;float:left;padding:30px 0 3em 1em;font-size:1.4em}
header .container .dev{width:38%}
header .container .min{width:62%}
header .container nav{width:80%;float:right;font-size:.85em}
header .container nav ul{text-align:right;padding:17px 0;}
header .container nav ul li{display:inline-block;}
header .container nav ul li:hover .children{display:block;padding:0}
header .container nav ul li .children{display:none; background:#000000; position:absolute;}
header .container nav ul li .children li {display:block;overflow: hidden;border-bottom: 1px solid rgba(255,255,255,.5);text-align:left}
header .container nav ul li .children li a {display: block;}
header .container nav ul li a{color:#fff;padding:1em 15px;display:block}
header .container nav ul li a:hover{color:#05C4DD}
header .container nav ul li:last-child{background:#0AA6A9;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-family:"GothamRounded-Book",sans-serif;color:#fff;cursor:pointer}
header .container nav ul li:last-child:hover{background:#05C4DD;-webkit-transition:background linear .2s;transition:background linear .2s}
header .container nav ul li:last-child:hover a{color:#fff}


header .container nav ul li:last-child:last-child{background:#0AA6A9;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-family:"GothamRounded-Book",sans-serif;color:#fff;cursor:pointer}
header .container nav ul li:last-child:last-child:hover{background:#05C4DD;-webkit-transition:background linear .2s;transition:background linear .2s}
header .container nav ul li:last-child:last-child:hover a{color:#fff}
header .container nav ul li:last-child:last-child:hover a:hover{color:#424CB9}

header .container .nav-mobil{display:none}
header .container .nav2{background:red;position:fixed;top:0;height:70px;width:100%}
header i.icon-menu{display:none}

.developers{background:url(../images/online.jpg) no-repeat right 160px;position:relative;height:600px}
.developers .title{text-align:left;padding:10em 0 0}
.developers .title h1{text-transform:uppercase;font-size:3.5em;margin:0.3em 0}
.developers .title p{width:55%;font-size:1.3em}
.developers .title ul{width:130px;text-align:center;padding:1em 0}
.developers .title ul li{border:1px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:15px 20px}
.developers .title ul li:hover{background:#0AA6A9;-webkit-transition:background linear .2s;transition:background linear .2s;border-color:#0AA6A9;cursor:pointer}
.container{text-align:center}
.container1{text-align:center; background:black}
.container ul.botones li{display:inline-block;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:200px}
.container ul.botones li a{padding:15px 20px;display:block}
.container ul.botones li:first-child{margin-right:1em;background-color:rgba(255,255,255,0.5)}
.container ul.botones li:last-child{background:#0AA6A9;cursor:pointer}
.container ul.botones li:last-child a{color:#fff}
.container ul.botones li:first-child:hover{background:#05C4DD;-webkit-transition:background linear .2s;transition:background linear .2s}
.container ul.botones li:last-child:hover{background:#05C4DD;-webkit-transition:background linear .2s;transition:background linear .2s}
img.back{width:100%;display:block}
.franja{background:#3E424E;padding:1em 0}
.franja p,.franja span{padding:15px 0}
.franja p{font-size:1.8em;color:#fff;margin:0}
.franja span{color:#fff;display:block}

.franja1{background:#3E424E;padding:1em 0;margin-top:20px}
.franja1 p,.franja1 span{padding:15px 0}
.franja1 p{font-size:1.5em;color:#fff;margin:0}
.franja1 span{color:#fff;display:block}

.franja2{background:#000;padding:1em 0;margin-top:20px}
.franja2 p,.franja2 span{padding:15px 0}
.franja2 p{font-size:1.3em;color:#fff;margin:0}
.franja2 span{color:#fff;display:block}
section{color:#484848;text-align:center}
section h2{font-family:"GothamRounded-Book",sans-serif;margin:0;padding:3em 0 1em 0}
section .boxes{margin:3em auto}
section .boxes h2{padding:1em 0;margin:0}
section .boxes ul{width:23.5%;min-height:320px;float:left;padding:3% 2% 0 0}
section .boxes ul:first-child{padding:0}
section .boxes ul.last{padding-right:0}
section .boxes ul li{padding:0.5em .5em}
section .boxes ul li:last-child{bottom:0}
section .boxes ul li h3{margin:0;font-family:"GothamRounded-Book",sans-serif}
section .boxes ul li p{font-size:.81em;min-height:70px}
section .boxes ul li a.more{color:#0AA6A9;border-bottom:5px solid #0AA6A9;padding-bottom:1.7em}
section .partners{border-bottom:1px solid #EFEFEF;padding:3em 0}
section .partners ul li{display:inline-block;padding:1em 2em}
section .medio{padding:50px 0;border-bottom:1px solid #D8D8D8}
section .medio h1,section .medio h2,section .medio h3{color:#ABABAB}
section .medio .barra{margin:50px 0}
section .medio .barra .left{width:48%;float:left;text-align:left}
section .medio .barra .left span{background:none;padding:30px 0}
section .medio .barra .left span p{color:#484848}
section .medio .barra .right{width:48%;padding-left:4%;float:right;text-align:center}
section .medio .barra .right img{padding:50px 0}
section .medio .barra h1{color:#05C4DD;font-family:"GothamRounded-Book",sans-serif}
section .medio .barra p{font-size:1.2em}
section hr{border:1px solid #EFEFEF;margin:3em 0}
section .content{text-align:left;padding:2em 0;font-size:1.3em}
section .enprecios{background:none;padding:30px 0}
section .precios .container h1{font-family:"GothamRounded-Book",sans-serif;color:#ABABAB}
section .precios .container h3{padding:0;color:#ABABAB}
section .precios .container .title{padding:50px 0}
section .precios .container ul{margin:20px 0}
section .precios .container ul li{width:40%;min-height:210px;float:left;padding:30px 5%}
section .precios .container ul li h4{text-transform:none;font-family:"GothamRounded-Book",sans-serif}
section .precios .container ul.beneficios{padding:50px 0}
section .precios .container ul.beneficios li{width:32%;float:left;padding:0 0 0 2%;text-align:center}
section .precios .container ul.beneficios li:first-child{padding-left:0}
section .precios .container ul.beneficios li p{width:80%;margin:0 auto 1.5em}
section .precios .container ul.beneficios li a{color:#0AA6A9;border-bottom:5px solid #0AA6A9;padding:20px;display:block;width:100px;margin:0 auto}
section .precios .container ul.beneficios li a:hover{color:#05C4DD;border-color:#05C4DD}
section .historia,section .equipo{margin:3em 0}
section .nosotros{position:relative}
section .nosotros .title{padding:6em 0}
section .nosotros .title h1{font-size:4em;text-transform:uppercase;padding:50px 0 20px;margin:0}
section .nosotros .title h2{padding:0 6em;font-family:inherit;color:#ABABAB}
section .nosotros .title h2 span{color:#484848}
section .nosotros img{width:100%}
section .container h1{font-family:"GothamRounded-Book",sans-serif}
section .container .historia p{text-align:justify}
section .container .historia .box{width:49%;float:left;padding-left:2%;text-align:left}
section .container .historia .left{padding-left:0}
section .container .historia .left p{padding:0 0 0 5em}
section .container .historia .right p{padding:0 5em 0 0}
section .container .equipo .perfiles ul{width:20%;margin:30px 3% 30px 30px;float:right;position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid;-webkit-mask-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);overflow:hidden}
section .container .equipo .perfiles ul:nth-child(3n){margin-right:0}
section .container .equipo .perfiles ul li{width:100%;text-align:left}
section .container .equipo .perfiles ul li.name{position:relative;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);-webkit-transition:transform 1s;transition:transform 1s}
section .container .equipo .perfiles ul li.name i{position:absolute;right:10px;top:25px;border:1px solid #fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;padding:.3em}
section .container .equipo .perfiles ul li.muestrate{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
section .container .equipo .perfiles ul li:first-child img{width:100%;height:auto;background:#c4c4c4;display:block}
section .container .equipo .perfiles ul li:last-child{background:rgba(0,0,0,0.5);position:absolute;bottom:0;padding:.5em 0}
section .container .equipo .perfiles ul li:last-child h5,section .container .equipo .perfiles ul li:last-child span{margin:.5em;color:#fff}
section .container .equipo .perfiles ul li:last-child span{display:block}
section .ubicacion{margin:3em 0}
section .ubicacion .container p{width:60%;float:left;text-align:left;padding-left:10%;margin:0}
section .ubicacion .container p span{font-family:"GothamRounded-Book",sans-serif}
section .ubicacion .container i{display:block;width:15%;float:left;background:#DCDADC;padding:1em;color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-style:normal}
section .ubicacion hr{margin:3em 0 !important}
section .beneficios ul.nav-two{padding:2em 0}
section .beneficios ul.nav-two li{width:23.5%;float:left;padding-left:2%;padding-top:2%;padding-bottom:2%;border:1px solid}
section .beneficios ul.nav-two li:first-child{padding-left:0}
section .beneficios ul.nav-two li h4{font-family:"GothamRounded-Book",sans-serif;margin:15px 0 0 0}
section .beneficios .section{padding:80px 0}
section .beneficios .section h2{padding:.7em 0}
section .beneficios .section .container{text-align:left}
section .beneficios .section .container p.semilla{color:#797979;padding:0 0 1.5em 0}
section .beneficios .section .container ul{padding:1.5em 0}
section .beneficios .section .container ul li{width:160px;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:inline-block}
section .beneficios .section .container ul li a{color:#484848;display:block}
section .beneficios .section .container ul li:first-child{border:1px solid #808488;margin-right:1em}
section .beneficios .section .container ul li:first-child:hover{border-color:#05C4DD}
section .beneficios .section .container ul li:first-child a{padding:15px 0}
section .beneficios .section .container ul li:last-child{background:#0AA6A9;color:#fff;cursor:pointer}
section .beneficios .section .container ul li:last-child:hover{background:#05C4DD;border-color:#05C4DD}
section .beneficios .section .container ul li:last-child a{color:#fff;padding:15px 0}
section .beneficios .one{background:#E4E8E9;position:relative}
section .beneficios .one .left{width:50%;float:left;padding:0em 0}
section .beneficios .one .left ul li:first-child:hover{background:#05C4DD;border-color:#05C4DD}
section .beneficios .one .left ul li:first-child:hover a{color:#fff}
section .beneficios .one .right{width:50%;float:right}
section .beneficios .one .right img{width:60%; float:right;border:4px solid}

section .beneficios .five{background:#E4E8E9;position:relative}
section .beneficios .five .left{width:50%;float:left;padding:0em 0}
section .beneficios .five .left ul li:first-child:hover{background:#05C4DD;border-color:#05C4DD}
section .beneficios .five .left ul li:first-child:hover a{color:#fff}
section .beneficios .five .right{width:50%;float:right}
section .beneficios .five .right img{width:60%; float:right;border:4px solid}

section .beneficios .nine{background:#E4E8E9;position:relative}
section .beneficios .nine .left{width:50%;float:left;padding:0em 0}
section .beneficios .nine .left ul li:first-child:hover{background:#05C4DD;border-color:#05C4DD}
section .beneficios .nine .left ul li:first-child:hover a{color:#fff}
section .beneficios .nine .right{width:50%;float:right}
section .beneficios .nine .right img{width:60%; float:right;border:4px solid}

section .beneficios .two{background:#EBF7FA;color:#484848}
section .beneficios .two .container .left{width:50%;float:left;padding:0em 0}
section .beneficios .two .container .left p{width:100%}
section .beneficios .two .container .left ul li:first-child{border-color:#484848}
section .beneficios .two .container .left ul li:first-child:hover{border-color:#05C4DD}
section .beneficios .two .container .left ul li:first-child a{color:#484848}
section .beneficios .two .container .right{width:50%;float:left}
section .beneficios .two .container .right img{width:60%; float:right;border:4px solid}
section .beneficios .two .container .right p{width:100%}
section .beneficios .two .container .right p.semilla{color:#fff}

section .beneficios .seven{background:#EBF7FA;color:#484848}
section .beneficios .seven .container .left{width:50%;float:left;padding:0em 0}
section .beneficios .seven .container .left p{width:100%}
section .beneficios .seven .container .left ul li:first-child{border-color:#484848}
section .beneficios .seven .container .left ul li:first-child:hover{border-color:#05C4DD}
section .beneficios .seven .container .left ul li:first-child a{color:#484848}
section .beneficios .seven .container .right{width:50%;float:left}
section .beneficios .seven .container .right img{width:60%; float:right;border:4px solid}
section .beneficios .seven .container .right p{width:100%}
section .beneficios .seven .container .right p.semilla{color:#fff}

section .beneficios .eleven{background:#EBF7FA;color:#484848}
section .beneficios .eleven .container .left{width:50%;float:left;padding:0em 0}
section .beneficios .eleven .container .left p{width:100%}
section .beneficios .eleven .container .left ul li:first-child{border-color:#484848}
section .beneficios .eleven .container .left ul li:first-child:hover{border-color:#05C4DD}
section .beneficios .eleven .container .left ul li:first-child a{color:#484848}
section .beneficios .eleven .container .right{width:50%;float:left}
section .beneficios .eleven .container .right img{width:60%; float:right;border:4px solid}
section .beneficios .eleven .container .right p{width:100%}
section .beneficios .eleven .container .right p.semilla{color:#fff}

section .beneficios .three{background:url(../images/disco.jpg) no-repeat scroll 18% 50% #A4CAFA}
section .beneficios .three .container{text-align:right}
section .beneficios .three .container p{margin-left:40%}
section .beneficios .three .container ul li a{padding:15px 0}

section .beneficios .eight{background:url(../images/mouse.jpg) no-repeat scroll 18% 50% #A4CAFA}
section .beneficios .eight .container{text-align:right}
section .beneficios .eight .container p{margin-left:40%}
section .beneficios .eight .container ul li a{padding:15px 0}

section .beneficios .twelve{background:url(../images/consola.jpg) no-repeat scroll 18% 50% #A4CAFA}
section .beneficios .twelve .container{text-align:right}
section .beneficios .twelve .container p{margin-left:40%}
section .beneficios .twelve .container ul li a{padding:15px 0}

section .beneficios .four{background:-webkit-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-moz-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-ms-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-o-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C)}
section .beneficios .four .container{color:#fff}
section .beneficios .four .container .left{float:left;width:40%;margin-right:5%}
section .beneficios .four .container .right{float:left;width:50%;margin-left:5%}

section .beneficios .six{background:-webkit-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-moz-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-ms-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-o-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C)}
section .beneficios .six .container{color:#fff}
section .beneficios .six .container .left{float:left;width:40%;margin-right:5%}
section .beneficios .six .container .right{float:left;width:50%;margin-left:5%}

section .beneficios .ten{background:-webkit-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-moz-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-ms-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:-o-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C);background:radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C)}
section .beneficios .ten .container{color:#fff}
section .beneficios .ten .container .left{float:left;width:40%;margin-right:5%}
section .beneficios .ten .container .right{float:left;width:50%;margin-left:5%}

section .beneficios .two .container h2,section .beneficios .three .container h2,section .beneficios .four .container h2{font-family:"GothamRounded-Book",sans-serif}
section .beneficios .two .container ul li a,section .beneficios .three .container ul li a,section .beneficios .four .container ul li a{color:#0AA6A9}
section .beneficios .two .container ul li:first-child,section .beneficios .three .container ul li:first-child,section .beneficios .four .container ul li:first-child{border-color:#0AA6A9}
section .beneficios .two .container ul li:first-child:hover,section .beneficios .three .container ul li:first-child:hover,section .beneficios .four .container ul li:first-child:hover,section .beneficios .five .container ul li:first-child:hover,section .beneficios .six .container ul li:first-child:hover,section .beneficios .seven .container ul li:first-child:hover,section .beneficios .eight .container ul li:first-child:hover,section .beneficios .nine .container ul li:first-child:hover,section .beneficios .ten .container ul li:first-child:hover,section .beneficios .eleven .container ul li:first-child:hover,section .beneficios .twelve .container ul li:first-child:hover{background:#05C4DD;-webkit-transition:background linear .2s;transition:background linear .2s}
section .beneficios .two .container ul li:first-child:hover a,section .beneficios .three .container ul li:first-child:hover a,section .beneficios .four .container ul li:first-child:hover a{color:#fff}

footer{margin:0em 0;font-size:.85em}
footer .container .box{width:23.5%;float:left;padding-left:2%;text-align:left}
footer .container .box h3{font-family:"GothamRounded-Book",sans-serif}
footer .container .box:first-child{padding-left:0}
footer .container .box ul li{line-height:250%}
footer .container .box ul li a{color:#554D4D}
footer .container .box ul li a:hover{color:#ffffff}
footer .container .four{text-align:right}
footer .container .four ul.redes li{margin-top:20px;display:inline-block}
footer .container .four ul.redes li a i{color:#ffffff;padding:0.5em;border:2px solid #ffffff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
footer .container .four ul.redes li a i:hover{color:#ffffff;border-color:#0AA6A9}
footer .box-mobile{display:none}
footer .container .box1{width:100%;float:left;padding-left:2%;text-align:left}footer .container .box h3{font-family:"GothamRounded-Book",sans-serif}
footer .container .box1:first-child{padding-left:0}
footer .container .box1 ul li{line-height:250%}
footer .container .box1 ul li a{color:#554D4D}
footer .container .box1 ul li a:hover{color:#ffffff}
footer .container .four1{text-align:center}
footer .container .four1 ul.redes li{margin-top:20px;display:inline-block}
footer .container .four1 ul.redes li a i{color:#ffffff;padding:0.5em;border:2px solid #ffffff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
footer .container .four1 ul.redes li a i:hover{color:#ffffff;border-color:#0AA6A9}

.shadow{display:none}
.item6{background:-webkit-radial-gradient(circle, rgba(0,0,0,0.8) 100%, transparent);background:-moz-radial-gradient(circle, rgba(0,0,0,0.8) 100%, transparent);background:-ms-radial-gradient(circle, rgba(0,0,0,0.8) 100%, transparent);background:-o-radial-gradient(circle, rgba(0,0,0,0.8) 100%, transparent);background:radial-gradient(circle, rgba(0,0,0,0.8) 100%, transparent);position:fixed;-webkit-animation:fadein 2s;-moz-animation:fadein 2s;-ms-animation:fadein 2s;-o-animation:fadein 2s;animation:fadein 2s;width:100%;height:100%;color:#fff;font-size:30px;display:inherit;z-index:1000}

@keyframes fadein{from{opacity:0}}
@-moz-keyframes fadein{from{opacity:0}}
@-webkit-keyframes fadein{from{opacity:0}}
@-ms-keyframes fadein{from{opacity:0}}
@-o-keyframes fadein{from{opacity:0}}
.mensaje{width:50%;height:510px;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}
.mensaje i{position:absolute;left:-65px;top:0;border:2px solid #fff;border-radius:50%;font-size:20px}
.mensaje i:hover{cursor:pointer}
.mensaje iframe{width:100%;height:100%}

@media screen and (max-width: 1224px){
.container{width:95%}}

@media screen and (max-width: 1024px){
.developers{background:none}
.developers .title{text-align:inherit}
.developers .title p{width:100%}
.developers .title ul{margin:0 auto}
header .container nav ul li a{padding:1em 10px}
.top-3 .infra{background:none}
section .beneficios .four .left img{width:100%}}

@media screen and (max-width: 835px){
header .container .pais{display:none}
header .container nav{width:75%}
section .medio .barra .right img{width:100%}
section .integrate p{padding:0 3em}}

@media screen and (max-width: 768px){
header .container .logo{width:100%;text-align:center}
header .container .logo img{float:none;padding:.5em 0}
header .container nav{display:none}
header .container .nav-mobil{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:-webkit-transform 1s ease;-moz-transition:transform 1s ease;-ms-transition:transform 1s ease;-o-transition:transform 1s ease;transition:transform 1s ease}
header .container .nav-mobil i.icon-cancel{position:absolute;right:10px;top:10px;font-size:1.7em;cursor:pointer;color:#fff}
header .container .nav-mobile{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform 1s ease;-moz-transition:transform 1s ease;-ms-transition:transform 1s ease;-o-transition:transform 1s ease;transition:transform 1s ease}
header .container .nav-mobil,header .container .nav-mobile{display:inherit;position:fixed;top:0;left:0;width:60%;height:100%;background-color:rgba(0,0,0,0.8);z-index:998}
header .container .nav-mobil ul,header .container .nav-mobile ul{text-align:left;padding-top:0em}
header .container .nav-mobil ul li,header .container .nav-mobile ul li{padding:1em 2em;color:#fff}
header .container .nav-mobil ul li:last-child:hover,header .container .nav-mobile ul li:last-child:hover{cursor:pointer}
header .container .nav-mobil ul li a:hover,header .container .nav-mobile ul li a:hover{color:#ffffff;border-bottom:1px solid #ffffff;padding-bottom:.2em}

header .container .nav-mobil ul li:hover .children{display:block}
header .container .nav-mobil ul li .children{display:none; background:#1399AB; position:absolute;}
header .container .nav-mobil ul li .children li {display:block;overflow: hidden;border-bottom: 1px solid rgba(255,255,255,.5);}
header .container .nav-mobil ul li .children li a {display: block;font-size: 12px;}

header i.icon-menu{display:initial;position:absolute;font-size:1.5em;cursor:pointer;color:#fff;top:25px;left:10px;z-index:997}
header i.icon-menu:hover{color:#0AA6A9;-webkit-transition:color 0.5s linear 0.2s;transition:color 0.5s linear 0.2s}
header i.icon-menu2{background:red}
.top-beneficios .title h1{font-size:2.6em}.top-3 .title{padding:8em 0 5em}
.top-3 .info{padding:30px 0}
.top-3 .info ul{width:50%;min-height:230px;padding:30px 0}
.top-3 .infra{background:none}
section .beneficios .section .container{text-align:center}
section .beneficios p{margin:0 !important}
section .beneficios .left,section .beneficios .right{width:100% !important}
section .beneficios .one .right img{width:auto}
section .beneficios .three{background:none}
section .beneficios .four{background:-webkit-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C)}
section .beneficios .one .container ul li,section .beneficios .two .container ul li,section .beneficios .three .container ul li,section .beneficios .four .container ul li{margin:20px 0 !important}
section .container .historia .box{width:100%;padding:0}
section .container .historia .box p{padding:0}
section .container .equipo .perfiles ul{width:46%}
section .container .equipo .perfiles ul:nth-child(2n){margin-right:0 !important}
section .container .equipo .perfiles ul:nth-child(3n){margin-right:8%}
section .precios .container ul.beneficios li{width:100%;min-height:300px}
section .precios .container ul.beneficios li p{width:100%}
section .dev-bottom .container ul{width:40%;padding:70px 5%}}

@media screen and (max-width: 767px){
section .phones ul{height:550px;margin:0 3em 0}
section .phones ul li.one{display:none}
section .phones ul li.three{display:none}
section .boxes ul{width:48%}
section .medio .barra div{width:100% !important;text-align:inherit !important}
section .medio .barra div img{width:auto !important}
section .partners{border:none}
section .beneficios ul.nav-two{display:none}
section .precios .container ul li{width:100%;padding:30px 0}
section .integrate .container ul li{margin:1em 0}
section .integrate .container ul li:first-child{margin-right:1em}
section .container .equipo .perfiles ul li.name{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
footer .container .box{display:none;width:100%;text-align:center;margin:30px 0}
footer .box-mobile{display:inherit}
footer .box-mobile #accordion{text-align:left;background:#322D2A;margin:0 0 30px 0}
footer .box-mobile #accordion h3{font-family:"GothamRounded-Book",sans-serif;color:#fff;border-top:1px solid #3c3c3c;margin:0;padding:1.5em;position:relative}
footer .box-mobile #accordion h3 i{position:absolute;top:25px;font-size:1.3em;right:0;cursor:pointer}
footer .box-mobile #accordion div{text-align:left}
footer .box-mobile #accordion div ul{padding:1em 0 1em 1.5em}
footer .box-mobile #accordion div ul li{font-size:12px;padding:1em;color:#fff}
footer .box-mobile .container ul.redes{padding:5px 0}
footer .box-mobile .container ul.redes li{display:inline-block;padding:.5em}
footer .box-mobile .container ul.redes li a{color:#ffffff;border:2px solid #ffffff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;padding:.5em}
footer .box-mobile .container ul.redes li a:hover{color:#ffffff;border-color:#0AA6A9}
footer .box-mobile .container ul li{padding:10px 0}}

@media screen and (max-width: 500px){
.mensaje{width:90%}
.mensaje i{top:-40px;left:0;font-size:20px}
.top{height:650px}
.top .page-title .container ul.botones li{margin:1em 0}
.top-contacto .title h1{font-size:3.5em}
.top-3 .title h1{font-size:2.5em}
.top-3 .info{padding:50px 0}
.top-3 .info ul{width:100%;min-height:inherit;padding:30px 0}
.top-3 .info p.semilla{width:100%}
.top-3 .infra{background:none}
section .phones .container ul li.two img{width:100%}
section .dev-bottom .container ul{width:100%;padding:70px 0}
section .container .equipo .perfiles ul{width:100%}
section .container .equipo .perfiles ul:nth-child(2n){margin-right:0}
section .container .equipo .perfiles ul:nth-child(3n){margin-right:0}
section .legal{text-align:center}
section .legal ul{text-align:initial}
section .integrate .container ul li{margin:1em 0}
section .integrate .container ul li:first-child{margin-right:0}
section .nosotros .title h1{font-size:3em}
section .nosotros .title h2{padding:0}
section .ubicacion .container p{width:100%;padding:0;text-align:inherit;float:none}
section .ubicacion .container i{width:30%;float:none;margin:20px auto}
section .partners ul li{min-width:250px}}

@media screen and (max-width: 400px){
header{padding:10px 0}
header .container .logo{float:none;text-align:center}
header .container .logo img{float:none;padding:0}
header .container .logo .pais{display:none}
header .container .nav-mobil,header .container .nav-mobile{width:60%}
.page-title{padding:10em 0}
.page-title .container h1{font-size:4em}
.container ul.botones li{margin:1em 0 !important}
.developers{background:none}
.developers .container .title{text-align:inherit}
.developers .container .title h1{font-size:2.5em}
.developers .container .title p{width:100%}
.developers .container .title ul{width:50%;margin:0 auto}
section.wrapper .boxes ul{width:100%;margin:0 0 25px 0;}
section.wrapper .boxes ul li:last-child{width:initial}
section .integrate{background-image:none;background-color:#F6F7F8}
section .integrate .container p{padding:0 !important}
section .beneficios ul.nav-two li{width:100%;margin:50px 0}
section .beneficios .one .right img{width:100%}
section .beneficios .two .container .left{width:100% !important;padding:2em 0}
section .beneficios .two .container .left .igv{background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;overflow:hidden;width:initial !important}
section .beneficios .two .container .left .igv img{width:100%}
section .beneficios .two .container .right{width:100% !important;text-align:center}
section .beneficios .three .container{text-align:center}
section .beneficios .three .container p{width:100%}
section .beneficios .three .container ul li:first-child{background:#0AA6A9}
section .beneficios .four{background:-webkit-radial-gradient(left bottom, circle, #223D49 25%, #1C1C1C)}
section .phones{background-image:none}
section .phones ul{height:420px}
section .medio .barra .right img{width:100% !important}
section .dev-bottom .container ul{width:100%;padding-left:0;padding-right:0}}
footer{color:white;background-color:black;margin-bottom:20px}


section .containerreg {height:1200px;float:center}
.italicText {
	font-style: italic;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 12px;
}
			
#headForm {
	height: 87px;
	background-repeat: no-repeat;
}	
			
.containerreg{  /* contacto*/
max-heigth:2500px;

	max-width:1140px;width:60%;margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #4c4c4c;
	background-color: #FFF;
	margin: 0 auto;
		}
		
		.containerclient{  /* contacto*/
max-heigth:1000px;

	max-width:1140px;width:60%;margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #4c4c4c;
	background-color: #FFF;
	margin: 0 auto;
		}
		
		.containerregprod{  /* contacto*/
max-heigth:1500px;

	max-width:1140px;width:60%;margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #4c4c4c;
	background-color: #FFF;
	margin: 0 auto;
		}
		
		.containerdelprod{  /* contacto*/
max-heigth:1800px;

	max-width:1140px;width:60%;margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #4c4c4c;
	background-color: #FFF;
	margin: 0 auto;
		}
		
#areaForm {
	max-height:2500px;
	max-width:1140px;width:70%;
	background-color: #FFF;
	display:inline-block;
 	border:1px solid;
 	padding: 1em 0em;
 	margin: 1em 15%;

    text-align: center;
}


.titSeccion {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	background-color: #98ABBC;
	display: block;
	height: 32px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-left: 10px;
}

.clean {
	clear: both;
	float: none;
	margin: 0;
	padding: 0;
}
		
.titlereg{
color: #0071BB;
font-size: 30px;
font-weight: bold;
display: block;
text-align: center;
width: 100%;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #808080;
padding-top: 50px;
padding-bottom: 30px;
}

.subtitle {
	color: #98ABBC;
	font-size: 12pt;
	font-weight: bold;
	display: block;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.boxTerGaran {
	height: 300px;
	width: 90%;
	overflow: auto;
	padding: 10;
	font-size: 10pt;
	border: 1px solid  #98ABBC;
	text-align: justify;
	line-height: 150%;
}

.font-check{
  color: #5C5D5E;
  font-family: arial,verdana,sans-serif;
  font-size: 12px;
}

.error{
	/*background-color:#CEDFE8;*/
	background-color: #DFF9FF;
	color: #9DC5FF;
}	


.font_td{
  color:#aeaeae;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8px;
  padding-left:8px;
}


.checkboxStyle {
	font-size: 10pt;
	color: #4c4c4c;
	text-align: center;
	display: block;
	margin-top: 10px;
}
.checkformat {
	display: block;
	float: left;
	padding-right: 5px;
	margin-right: auto;
	margin-left: auto;
}

.inicio{
		
 border: 1px solid #CED5D7;
			border-radius: 6px;
			padding: 45px 45px 20px;
			background-color: white;
			box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
			
            left: 30%;
            top: 30%;
             position: absolute;
            width: absolute;
            height: absolute;
            overflow: auto;
            color:#333;
            padding-top:30px;
            border:solid 4px #D0D9E6;
            }
			  .archivos{
            
             border: 1px solid #CED5D7;
			border-radius: 6px;
			padding: 45px 45px 20px;
			background-color: white;
			box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
			
             left: 25%;
            top: 15%;
             position: absolute;
            width: absolute;
            height: absolute;
            overflow: auto;
            margin:0 auto;
            padding-top:1px;
            border:solid 4px #D0D9E6;
            }
			  .img{
			  
			  width:120px;
			   height:57px;
			   left: 12.5%;
			top: 3%;
			position: absolute;
			margin:0 auto;
			  }

.tablaSub {
	font-size: 8pt;
	font-style: italic;
	color: #999;
	margin: 0;
	padding: 0;
	display: block;
}
.cellInput {
	text-align: left;
	width: 50%;
	font-size: 10px;
	float: left;
	margin-bottom: 10px;
}

.tablaTitulos{
	font-size: 10pt;
	color: #4c4c4c;
	width: 30%;
	text-align: right;
	padding: 5px;
	float: left;
}
.alignVert {
	padding-top: 5px;
	display: block;
}
.alignVert1 {
	padding-top: 11px;
	display: block;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
.datagrid { background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-top:20px; margin-bottom:20px; width:70% }
.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border: 1px solid #0070A8;text-align:center; } 
.datagrid table thead th:first-child { border: none; border: 1px solid #0070A8;text-align:center;}
.datagrid table tbody td { color: #00496B; border: 1px solid #0070A8;font-size: 12px;font-weight: normal;text-align:center; }
.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; border: 1px solid #0070A8; }
.datagrid table tbody td:first-child { border: 1px solid #0070A8; text-align:center;}
.datagrid table tbody tr:last-child td { border-bottom: none; text-align:center; }

.datagrid1 table { border-collapse: collapse; text-align: left; width: 100%; } 
.datagrid1 { background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-top:20px; margin-bottom:20px; width:100%}
.datagrid1 table td, .datagrid table th { padding: 3px 10px; }
.datagrid1 table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border: 1px solid #0070A8;text-align:center; } 
.datagrid1 table thead th:first-child { border: none; border: 1px solid #0070A8;text-align:center;}
.datagrid1 table tbody td { color: #00496B; border: 1px solid #0070A8;font-size: 12px;font-weight: normal;text-align:center; }
.datagrid1 table tbody .alt td { background: #E1EEF4; color: #00496B; border: 1px solid #0070A8; }
.datagrid1 table tbody td:first-child { border: 1px solid #0070A8; text-align:center;}
.datagrid1 table tbody tr:last-child td { border-bottom: none; text-align:center; }

.lead{margin-bottom:20px;font-size:30px;font-weight:200;line-height:1.4;}
.textol{width:70%;float:right}
a.list-group-item.active>.badge,.nav-pills>.active>a>.badge{color:#428bca;background-color:#fff}
.list-group{padding-left:0;margin-bottom:20px;width:25%;float:left;margin-top:30px;}
.list-group-item{position:relative;display:block;padding:10px 15px;margin-bottom:-1px;background-color:#fff;border:1px solid #ddd}
.list-group-item:first-child{border-top-right-radius:4px;border-top-left-radius:4px}
.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:4px;border-bottom-left-radius:4px}
.list-group-item>.badge{float:right}
.list-group-item>.badge+.badge{margin-right:5px}
a.list-group-item{color:#555}
a.list-group-item .list-group-item-heading{color:#333}
a.list-group-item:hover,a.list-group-item:focus{text-decoration:none;background-color:#f5f5f5}
a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus{z-index:2;color:#fff;background-color:#428bca;border-color:#428bca}
a.list-group-item.active .list-group-item-heading,a.list-group-item.active:hover .list-group-item-heading,a.list-group-item.active:focus .list-group-item-heading{color:inherit}
a.list-group-item.active .list-group-item-text,a.list-group-item.active:hover .list-group-item-text,a.list-group-item.active:focus .list-group-item-text{color:#e1edf7}
.list-group-item-heading{margin-top:0;margin-bottom:5px}
.list-group-item-text{margin-bottom:0;line-height:1.3}
.panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
.panel-body{padding:15px}
.panel-body:before,.panel-body:after{display:table;content:" "}
.panel-body:after{clear:both}
.panel-body:before,.panel-body:after{display:table;content:" "}
.panel-body:after{clear:both}
.panel>.list-group{margin-bottom:0}
.panel>.list-group .list-group-item{border-width:1px 0}
.panel>.list-group .list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}.panel>.list-group .list-group-item:last-child{border-bottom:0}.panel-heading+.list-group .list-group-item:first-child{border-top-width:0}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 30%;

      margin: auto;
  }